.body1 {
  background: url(../img/second_period/bg.png);
  background-size: 100%;
}
/*整体布局*/
.section {
  width: 1803px;
  padding: 0 0 50px 0;
  margin: 0 auto;
}
.section .TabsDiv {
  width: 100%;
  height: 65px;
  padding-top: 25px;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.section .TabsDiv .LeftTabs {
  flex: 1;
}
.section .ThemeContainer {
  width: 100%;
  overflow: hidden;
}
.section .ThemeContainer .ThemeContent {
  overflow: hidden;
}
.section .ThemeContainer .ThemeContent .ContentTop {
  width: 100%;
  height: 20px;
  background: url(../img/second_period/box_top.png);
}
.section .ThemeContainer .ThemeContent .ContentCenter {
  width: 100%;
  background: url(../img/second_period/box_center.png) repeat-y;
}
.section .ThemeContainer .ThemeContent .ContentBottom {
  width: 100%;
  height: 20px;
  background: url(../img/second_period/box_bom.png);
}
.section .ThemeContainer .ResourseContent .ContentCenter {
  height: 212px;
}
.section .ThemeContainer .ManageContent .ContentCenter {
  height: 482px;
}
.section .ThemeContainer .ServiceContent .ContentCenter {
  height: 552px;
}
.section .ThemeContainer .MonitorContent .ContentCenter {
  height: 512px;
}
.section .TableBox {
  width: 100%;
  height: 550px;
}
.section .TableBox .table {
  text-align: center;
}
.footer {
  background: #010d1f;
}
.footer p {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
}
/*内容顶部 各种主题切换 样式*/
.LeftTabs .TabSpan {
  width: 120px;
  font-size: 16px;
  display: inline-block;
  background: #030627;
  border: 1px solid #00e7e2;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  height: 38px;
  text-align: center;
  line-height: 36px;
  font-weight: 500;
}
.LeftTabs .TabSpan + .TabSpan {
  margin-left: 30px;
}
.LeftTabs .TabSpan.active {
  background: #00fff6;
  color: #02062b;
  border: 1px solid #00fff6;
  font-weight: 700;
}
.RightSelect {
  width: 408px;
  height: 100%;
  display: block;
}
.InfoListContent {
  float: right;
  width: 210px;
  text-align: left;
  margin-right: 30px;
  background: #151d3c;
}
.InfoListContent .selectLi {
  width: 100%;
  height: 38px;
  line-height: 36px;
  border: 1px solid #00fff6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 0 10px 0 16px;
  position: relative;
}
.InfoListContent .selectLi .spanInner {
  color: #fff;
}
.InfoListContent .selectLi .spanInner.active {
  color: #00eafc;
}
.InfoListContent .selectLi .TreeList {
  width: 100%;
  position: absolute;
  display: none;
  z-index: 100;
  left: -1px;
  background: #151d3c;
  border: 1px solid #00fff6;
  border-radius: 4px;
}
.InfoListContent .selectLi .TreeList .treeLi {
  width: 92%;
  height: 36px;
  line-height: 36px;
  color: #fff;
  text-indent: 16px;
}
.InfoListContent .selectLi .TreeList .treeLi.active {
  color: #00fff6;
}
.InfoListContent .selectLi .TreeList.show {
  display: block;
}
.InfoListContent .selectLi .dropIcon {
  float: right;
  margin-top: 16px;
}
.InfoListContent .dropIcon {
  margin-left: 7px;
}
.dropIcon {
  width: 9px;
  height: 8px;
  background: url(../img/second_period/xl_jt.png) no-repeat;
}
.rotatel {
  transform: rotate(180deg);
  transform-origin: center;
}
.TimeTypeBox {
  float: right;
  flex-direction: row;
  -webkkit-flex-direction: row;
  width: 160px;
  height: 38px;
  text-align: center;
  border: 1px solid #00d1eb;
  border-radius: 4px;
}
.TimeTypeBox .TimeTypeSpan {
  flex: 1;
  height: 100%;
  line-height: 36px;
  font-size: 16px;
  background: #0a1231;
  color: #00fff6;
  cursor: pointer;
}
.TimeTypeBox .TimeTypeSpan.active {
  background: #00fff6;
  color: #010d1f;
}
/*ResourseContent 样式*/
.TitleDiv {
  width: 100%;
  height: 90px;
  padding-top: 16px;
}
.TitleDiv .TitleLeftDiv {
  width: 50%;
  height: 70px;
  line-height: 70px;
}
.TitleDiv .TitleLeftDiv .titleIcon {
  display: inline-block;
  width: 34px;
  height: 27px;
  background: url(../img/second_period/title_dot.png);
  position: relative;
  top: 6px;
}
.TitleDiv .TitleLeftDiv .TitleFont {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
.TitleDiv .TitleLeftDiv .OutFont {
  font-style: normal;
  color: #00fff6;
}
.TotalNum {
  width: 518px;
  height: 100%;
  color: #fff;
  padding-left: 27px;
}
.TotalNum .title {
  font-size: 20px;
  line-height: 30px;
  margin-top: 2px;
  color: #fff;
}
.TotalNum .NumP {
  font-size: 30px;
  line-height: 90px;
  color: #fff;
}
.TotalNum .NumP .NumSpan {
  color: #00fff6;
  font-family: '液晶数字字体';
  font-size: 90px;
  margin-right: 10px;
}
.ListDiv {
  margin-top: 10px;
}
.ListDiv .saveIcon {
  display: block;
  width: 54px;
  height: 54px;
  background: url(../img/second_period/sj_icon.png);
  margin-right: 20px;
}
.ListDiv .SaveList {
  width: 410px;
  height: 66px;
}
.ListDiv .SaveList .SaveLi {
  min-width: 110px;
  height: 100%;
}
.SaveLi .name {
  font-size: 16px;
  line-height: 20px;
  color: #94b8ff;
}
.SaveLi .num {
  margin-top: 8px;
  font-size: 14px;
  line-height: 33px;
  font-weight: 700;
  color: #fff;
}
.SaveLi .NumSpan {
  font-size: 20px;
  color: #fff;
  margin-right: 3px;
}
.TotalPart .name {
  color: #fff;
}
.TotalPart .num {
  color: #00fff6;
}
.TotalPart .NumSpan {
  color: #00fff6;
}
.CardListDiv {
  width: 1283px;
  height: 100%;
  padding: 7px 50px;
  background: url(../img/second_period/line.png) no-repeat;
  background-size: 2px 100%;
}
.CardList {
  flex-direction: row;
  -webkit-flex-direction: row;
  height: 193px;
}
.CardList .CardLi {
  flex: 1;
  height: 100%;
  padding: 50px 35px;
  border-radius: 4px;
  /*资源分类监控-卡片内-样式*/
}
.CardList .CardLi .IconDiv {
  margin-top: 5px;
  width: 80px;
  height: 80px;
  margin-right: 38px;
}
.CardList .CardLi .NumDiv .name {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}
.CardList .CardLi .NumDiv .num {
  margin-top: 20px;
  font-size: 16px;
  line-height: 44px;
  font-weight: 700;
  color: #fff;
}
.CardList .CardLi .NumDiv .num .NumSpan {
  font-size: 34px;
  font-weight: 700;
  color: #fff;
  margin-right: 5px;
}
.CardList .CardLi + .CardLi {
  margin-left: 30px;
}
.CardList .CardLi:nth-child(1) {
  background: #0096ff;
}
.CardList .CardLi:nth-child(1) .IconDiv {
  background: url(../img/second_period/top_icon1.png);
}
.CardList .CardLi:nth-child(2) {
  background: #ff9600;
}
.CardList .CardLi:nth-child(2) .IconDiv {
  background: url(../img/second_period/top_icon2.png);
}
.CardList .CardLi:nth-child(3) {
  background: #5858da;
}
.CardList .CardLi:nth-child(3) .IconDiv {
  background: url(../img/second_period/top_icon3.png);
}
.CardList .CardLi:nth-child(4) {
  background: #fb6262;
}
.CardList .CardLi:nth-child(4) .IconDiv {
  background: url(../img/second_period/top_icon4.png);
}
.Overall .CardList .CardLi {
  padding: 20px 0 20px 14px;
  /*总体监控-卡片内-样式*/
}
.Overall .CardList .CardLi .title {
  font-size: 18px;
  line-height: 28px;
  margin-top: 0;
  color: #fff;
  text-align: left;
  font-weight: 500;
}
.Overall .CardList .CardLi .NumP {
  font-size: 16px;
  line-height: 50px;
  color: #fff;
  text-align: left;
  font-weight: 700;
}
.Overall .CardList .CardLi .NumP .NumSpan {
  color: #fff;
  font-family: 'Microsoft yahei';
  font-weight: 700;
  font-size: 24px;
  margin-right: 5px;
}
.Overall .CardList .CardLi .SaveList {
  width: 250px;
}
.Overall .CardList .CardLi .SaveList .SaveLi {
  min-width: 100px;
}
.Overall .CardList .CardLi .name {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  font-weight: 500;
}
.Overall .CardList .CardLi .num {
  margin-top: 12px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: #fff;
}
.Overall .CardList .CardLi .num .NumSpan {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-right: 5px;
}
/*ManageContent 样式*/
.ManageContent {
  background: #0d1345;
}
.ManageContent .table {
  border-spacing: 0px;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}
.ManageContent .table .thead {
  color: #94b8ff;
}
.ManageContent .table .thead tr {
  height: 45px;
  padding: 0 30px;
}
.ManageContent .table .thead td {
  font-weight: 700;
}
.ManageContent .table .tbody tr:nth-child(odd) {
  background: #111852;
}
.ManageContent .table .tbody td {
  font-size: 16px;
  color: #fff;
  border: none;
}
.ManageContent .table .tbody td:nth-child(1) {
  width: 11%;
}
.ManageContent .table .tbody td:last-child {
  width: 7.46%;
}
.ManageContent .table .tbody tr {
  height: 60px;
}
.ManageContent .table .tbody tr td:nth-child(1) {
  text-align: left;
  padding-left: 30px;
}
.ManageContent .table .tbody tr td:nth-child(2) {
  font-weight: 700;
}
.ManageContent .table .tbody tr td:last-child {
  color: #00fff6;
  text-align: right;
  padding-right: 30px;
}
.ManageContent .table .tbody tr td.abnormal {
  color: #ff7e00;
}
/*header模块 公共样式*/
.HeaderDiv {
  height: 45px;
  padding-top: 6px;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.HeaderDiv .title {
  flex: 1;
  color: #00fff6;
  font-size: 20px;
  line-height: 45px;
}
.HeaderDiv .RightTime {
  width: 100px;
  color: #94b8ff;
  font-size: 16px;
  line-height: 45px;
  text-align: right;
}
.HeaderDiv .canvasTab {
  flex: 1;
}
.HeaderDiv .canvasTab .TabSpan {
  width: 108px;
  height: 39px;
  line-height: 39px;
  font-size: 18px;
  color: #fff;
  background: transparent;
  border: none;
}
.HeaderDiv .canvasTab .TabSpan.active {
  background: url(../img/second_period/sjfw_tab_bg.png) no-repeat;
  background-size: 100% 100%;
  color: #00fff6;
}
.ContentLeft {
  width: 900px;
  height: 100%;
  padding: 0 40px 0 30px;
}
.ContentRight {
  width: 900px;
  height: 100%;
  padding: 0 40px 0 50px;
  background: url(../img/second_period/line.png) no-repeat;
  background-size: 2px 100%;
}
/*ServiceContent 样式*/
.ServiceContent .ContentLeft .HeaderDiv {
  margin-bottom: 15px;
}
.ServiceContent .HotResList {
  width: 900px;
  height: 215px;
}
.ServiceContent .HotResList .HotResLi {
  float: left;
  display: block;
  width: 215px;
  height: 100%;
  border: 1px solid #0b365f;
}
.ServiceContent .HotResList .HotResLi + .HotResLi {
  margin-left: 85px;
}
.ServiceContent .HotResList + .HotResList {
  margin-top: 50px;
}
.ServiceCanvas {
  position: relative;
}
.ServiceCanvas .vain {
  height: 110px;
}
.ServiceCanvas .LineList {
  width: 224px;
  height: 830px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform-origin: 50%;
  -webkit-transform-origin: center;
  position: relative;
  top: -410px;
  left: 302px;
}
.ServiceCanvas .QuadraticCurveBox {
  width: 224px;
  height: 830px;
  position: relative;
}
.ServiceCanvas .QuadraticCurve {
  width: 224px;
  height: 830px;
  position: absolute;
}
.ServiceCanvas .LightBox {
  width: 100%;
  height: 830px;
  z-index: 2;
  position: relative;
}
.ServiceCanvas .LineIcon {
  display: inline-block;
  width: 30px ;
  height: 14px;
  background: url(../img/gu_dot.png) no-repeat;
  position: absolute;
}
.ServiceCanvas .IconBox {
  position: absolute;
  width: 100%;
  height: 220px;
  top: 0;
  z-index: 2;
}
.ServiceCanvas .IconList {
  position: relative;
  width: 830px;
  height: 220px;
}
.ServiceCanvas .IconList .RectIcon.gold {
  position: absolute;
  width: 132px;
  height: 132px;
  top: 0;
  left: 344px;
  background: url(../img/second_period/gold_bg.png) no-repeat;
  background-size: 100% 100%;
}
.ServiceCanvas .IconList .RectIcon {
  position: absolute;
  width: 95px;
  height: 95px;
  top: 135px;
  left: 0;
  background: url(../img/second_period/blue_bg.png) no-repeat;
  background-size: 100% 100%;
}
.ServiceCanvas .IconList .RectIcon:nth-child(2) {
  left: 200px;
}
.ServiceCanvas .IconList .RectIcon:nth-child(4) {
  right: 200px;
}
.ServiceCanvas .IconList .RectIcon:nth-child(5) {
  right: 0;
}
.LiContent {
  margin: 6px;
  width: 201px;
  height: 201px;
  border: 2px solid #086683;
}
.LiContent .LiTitle {
  width: 180px;
  margin: 0 auto;
  height: 43px;
  line-height: 43px;
  margin-top: 15px;
  text-align: center;
  background: url(../img/second_period/rmzy_topbg.png);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.LiContent .LiInfo {
  color: #fff;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  margin-top: 15px;
}
.LiContent .OutFont {
  color: #00fff6;
  font-size: 25px;
  line-height: 45px;
  margin-right: 5px;
}
/*MonitorContent 样式*/
.MonitorContent .ContentLeft {
  width: 900px;
}
.MonitorContent .HeaderDiv {
  height: 34px;
  padding-top: 9px;
}
.MonitorContent .HeaderDiv .title {
  height: 25px;
  line-height: 25px;
}
.MonitorContent .MonitorList .MonitorLi {
  height: 125px;
  padding-top: 27px;
}
.MonitorContent .MonitorList .MonitorLi + .MonitorLi {
  border-top: 1px solid #3d426a;
}
.MonitorContent .MonitorList .MonitorLi:first-child {
  height: 110px;
}
.MonitorContent .ContentRight .MonitorLi {
  border-bottom: 1px solid #3d426a;
}
.MonitorContent .ContentRight .MonitorDataList {
  width: 736px;
  height: 70px;
}
.MonitorContent .ContentRight .MonitorDataList .MonitorDataLi:nth-child(1) {
  width: 343px;
}
.MonitorContent .ContentRight .MonitorDataList .MonitorDataLi:nth-child(2) {
  width: 343px;
}
.MonitorDiv {
  height: 70px;
}
.MonitorDiv .MarkIcon {
  display: block;
  width: 56px;
  height: 55px;
  margin-right: 16px;
  margin-top: 7px;
}
.MonitorDiv .MonitorDataList {
  width: 756px;
  height: 70px;
}
.MonitorDiv .MonitorDataList .MonitorDataLi {
  height: 100%;
}
.MonitorDiv .MonitorDataList .MonitorDataLi:nth-child(1) {
  width: 353px;
}
.MonitorDiv .MonitorDataList .MonitorDataLi:nth-child(2) {
  width: 353px;
}
.MonitorDiv .MonitorDataList .MonitorDataLi:nth-child(3) {
  width: 50px;
}
.MonitorDiv .MonitorDataLi .name {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  font-weight: 700;
}
.MonitorDiv .MonitorDataLi .num {
  margin-top: 17px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #fff;
}
.MonitorDiv .MonitorDataLi .num .NumSpan {
  font-size: 24px;
  color: #fff;
  margin-right: 3px;
}
.MonitorDiv .MonitorDataLi .name {
  color: #00ffcc;
}
.MonitorDiv .MonitorDataLi .name.abnormal {
  color: #ff7e00;
}
.MonitorDiv .MonitorDataLi .NormalCircle,
.MonitorDiv .MonitorDataLi .AbnormalCircle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 3px;
}
.MonitorDiv .MonitorDataLi .NormalCircle {
  background: #00ffcc;
}
.MonitorDiv .MonitorDataLi .AbnormalCircle {
  background: #ff7e00;
}
.MonitorDiv .MonitorDataLi .num.OutNum {
  margin-top: 10px;
  font-size: 14px;
  line-height: 26px;
  color: #00fff6;
}
.MonitorDiv .MonitorDataLi .num.OutNum .NumSpan {
  font-size: 30px;
  color: #00fff6;
}
.MonitorLi:nth-child(1) .MarkIcon {
  background: url(../img/second_period/bom_icon1.png);
}
.MonitorLi:nth-child(2) .MarkIcon {
  background: url(../img/second_period/bom_icon2.png);
}
.MonitorLi:nth-child(3) .MarkIcon {
  background: url(../img/second_period/bom_icon3.png);
}
.MonitorLi:nth-child(4) .MarkIcon {
  background: url(../img/second_period/bom_icon4.png);
}
.ServiceMonitor {
  position: relative;
  left: -48px;
  border: 1px solid red;
}
